/*CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* FONT FOR LOGO */
@font-face {
  font-family: 'logo-font';
  src: url(./webfontkit-20250722-225433/norse-bold-webfont.woff2);
}

/* MULTIPLE SELECTORS */

*{
  font-family: 'Roboto', Helvetica, sans-serif;
}

.underline{
  text-decoration: underline;
}

.italic{
  font-style: italic;
}

body, .flex-display, form, .div-row, .div-input, .content > div:first-child{
  display: flex;
}

.right-outer, form, .div-input, .content > div:first-child{
  flex-direction: column;
}

a:visited, a:link, .citation-image, .logo-sidebar{
  color: white;
}

.logo-sidebar, .citation-image, .right-outer{
  justify-content: center;
}

/* MULTIPLE SELECTORS */

/* LEFT SECTION */

.left-outer{
  position: relative;
  width: 35vw;
  /*vh -> viewpoint height -> 100% of viewpoint height */
  height: 100vh;
}

.background-sidebar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  width: inherit;
  height: inherit;
  object-fit: cover;
}

.logo-sidebar{
  align-items: center;

  position: absolute;
  top: 20%;

  background-color: rgba(21, 16, 19, 0.65);

  font-family: 'logo-font', Arial, Helvetica, sans-serif;
  font-size: 90px;
  width: inherit;
  padding: 20px;
}

.citation-image{
  position: absolute;
  bottom: 0;

  width: inherit;
}

.logo{
  width: 8vh;
}

/* LEFT SECTION */

/* RIGHT SECTION */

/* FORM */

form{
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 10px;
  padding: 50px;
  box-shadow: gray 0 0 5px;
}

legend{
  font-weight: bold;
  font-size: 25px;
}

label{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.5px;
}

input{
  /*outline overrides border-color when focusisng, set it to none */
  outline: none;
  width: 250px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input[type = "password"]:valid{
  border-color: green;
}

input[type = "password"]:invalid{
  border-color: red;
}

/*this is the same specificity as the two above, and since this is the last one, it will execute first one (input:focus is not specific enough to trigger the order for password)*/
input[type="password"]:focus, input:focus{
  border-color: rgb(55, 55, 223);
    box-shadow: grey 0px 0px 3px;
}

.div-row{
  gap: 100px;
}

/* FORM */

/* CREATE ACCOUNT BUTTON */

button{
  margin-left: 50px;
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: grey 3px 3px 10px;
  cursor: pointer;
}

button:active{
  box-shadow: none;
}

/* CREATE ACCOUNT BUTTON */

/* RIGHT SECTION */

/* BOTTOM SECTION */

.content > div {
  font-weight: bold;
  margin-left: 50px;
}

.content > div:first-child{
  gap: 20px;
  font-size: 28px;
  margin-bottom: 50px;
}

.content > div:last-child > p > span{
  color: #596D48;
}

/* BOTTOM SECTION */